* {
  margin: 0;
  padding: 0;
}

.barlow-condensed-thin {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-weight: 200;
}

.sedan-regular-italic {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: italic;
  line-height: 1.5;
}

header {
  background-color: rgb(144, 238, 144);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  padding: 2%;
  width: 100vw;
}

#lily-flower {
  height: 7em;
  align-items: start;
}

header>h4 {
  font-size: 8vi;
  overflow-y: hidden;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
}

nav {
  display: flex;
  width: 105vw;
  justify-content: center;
  gap: 2vw;
  font-size: 2em;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
  background-color: rgb(144, 238, 144);
  margin-top: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: repeating-linear-gradient(#e0efe5, #c9eed6);
  position: relative;
  overflow-x: hidden;
  margin: 0;
}

footer {
  margin-top: auto;
  background-color: rgb(144, 238, 144);
  width: 105vw;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 2vh;
}

.main-image {
  position: relative;
  width: 120vw;
  opacity: 0.3;
  height: 80%;
}

.about-us {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  font-size: 1.8vi;
  min-height: 30vh;
  max-height: 60vh;
  width: 50vw;
  left: 5%;
  margin-top: 2.5%;
  line-height: 1.7;
}

.flip-card-section {
  display: flex;
  position: relative;
  gap: 30px;
  width: 100vw;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.container {
  width: 200px;
  height: 200px;
  perspective: 800px;
  gap: 5px;
}

.container:hover>.card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
  color: rgb(211, 211, 211);
}

.front {
  background-color: lightgreen;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back {
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 12.5px;
}

.second-row {
  display: flex;
  gap: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.types-of-yoga {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 300%;
}

.gallery {
  width: 110vw;
  display: flex;
  flex-wrap: wrap;
  line-height: 0px;
  justify-content: stretch;
  list-style-type: none;
}

.gallery img {
  width: 50vw;

}


.schedule-main {
  min-height: 110vh;
  min-width: 100vw;
  background: repeating-linear-gradient(#c3f0d3, #81d69f);
  font-family: arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.schedule-header {
  text-align: center;

}

.timetable {
  height: 90vh;
  width: 90vw;
  table-layout: fixed;
  font-size: 2vi;

}

.timetable table,
th,
td {
  border: 6px gray;
  border-style: groove;
  border-collapse: collapse;
  margin: auto;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  font-size: 1em;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#query {
  height: 40vh;
  width: 50vw;
  font-family: "Montserrat", sans-serif;
}

.map-location {
  height: 45vh;
  width: 45vw;
}

.Input-button {
  height: 30px;
  width: 100px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 540px) {

  header {
    font-size: 60%;
  }

  #lily-flower {
    height: 6em;
  }

  nav {
    font-size: 110%;
  }
}

@media screen and (max-width: 768px) {
  .flip-card-section {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .second-row {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 425px) {
  .main-image {
    height: 85vh;
    position: relative;
  }

  .about-us {
    font-size: 0.6em;
    margin-top: 55px;
    width: 90vw;
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}