* {
    margin: 0;
    padding: 0;
}

/* Header styling*/
header {
    background-color: rgb(144, 238, 144);
    display: inline-flex;
    justify-content: center;
    height: 10vh;
    margin-right: 3.3vw;
    padding: 1%;
}

#lily-flower {
    height: 5em;
    align-self: center;
}

header>h4 {
    align-self: center;
    font-size: 400%;
}

/* Navigation bar styling*/
nav {
    background-color: rgb(144, 238, 144);
    display: flex;
    gap: 2vw;
    justify-content: center;
    padding: 1%;
}

/*Body styling */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: repeating-linear-gradient(#e0efe5, #c9eed6);
    position: relative;
    overflow:scroll;
}
/*About us section styling and positioning*/

.container{
    border: 1px solid black;
    height:40vh; 
    width:55vw;
    position:absolute;
    right:20%;
    top:25%;  
}
.about-us {
    border: 1px solid black;
    height: 150px;
    width:150px;
    position:absolute;
    right:20%;
    top:15%;  
    overflow:auto;
}
.image img {
    border: 1px solid black;
    height: 150px;
    width:200px;
    position:absolute;
    right:60%;
    top:15%;
}

/* footer styling */
footer {
    margin-top: auto;
    background-color: rgb(144, 238, 144);
}

footer ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 2vh;
}

/* Scheduling table styling */

.schedule-main {
    min-height: 100vh;
    background: repeating-linear-gradient(#e0efe5, #c9eed6);
    font-family: arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.schedule-header {
    text-align: center;
}

.timetable {
    height: 90vh;
    width: 90vw;
}

.timetable table,
th,
td {
    border: 6px gray;
    border-style: groove;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}

/*contact form styling */
#contact-info {
    display: flex;
    gap: 15vw;
    margin-left: 10vw;
    margin-top: 10px;
    margin-bottom: 10px;
}